<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="row">
    <div class="col-12 text-center">
     <h1>התחברות</h1>
    </div>
    <div class="col-12">
      <form action="/login" method="POST" class="auth-form">
    <div class="form-group">
      <label for="exampleInputEmail1">אימייל</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="אימייל">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">סיסמה</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="סיסמה">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">התחבר</button>
    </div>
      </form>
    </div>
  </div>


  <%- include('../includes/end.ejs') %>
