<div class="main-banner">
  <img src="/main-banner.png" alt="">
  <div align=center>
    <input class="search-input text-center" placeholder="Search the whole world for your shit!" type="text" />
  </div>
  <p class="search-description">Search anything you want.</p>
</div>
