<%- include('includes/head.ejs') %>

</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="row">
    <div class="col-12">
     <h1>
       !ברוך הבא
     </h1>
     <small>
       אפליקצייה לחישוב שעות עבודה אם טיפים......
     </small>
    </div>
  </div>


  <%- include('includes/end.ejs') %>
